<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whw.springboot.mapper.EmailMapper">
    <resultMap id="BaseResultMap" type="com.whw.springboot.entity.Email">
        <id column="email_id" jdbcType="INTEGER" property="emailId" />
        <result column="email_name" jdbcType="VARCHAR" property="emailName" />
    </resultMap>
    
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        email_id, email_name
    </sql>
    <sql id="select">
        SELECT
        *
        FROM
        email
    </sql>

    <insert id="insertEmail" parameterType="com.whw.springboot.entity.Email">
        insert into email (email_id, email_name) values (#{emailId,jdbcType=INTEGER}, #{emailName,jdbcType=VARCHAR})
    </insert>

    <update id="updateEmailById" parameterType="com.whw.springboot.entity.Email">
        <!--@mbg.generated-->
        update email
        <set>
            <if test="emailId != null">
                email_id = #{emailId,jdbcType=INTEGER},
            </if>
            <if test="emailName != null">
                email_name = #{emailName,jdbcType=VARCHAR}
            </if>
        </set>
        where email_id = #{emailId,jdbcType=INTEGER}
    </update>
    <delete id="deleteEmailById" parameterType="com.whw.springboot.entity.Email">
        delete from email
        <where>
            <if test="emailId != null">
                email_id = #{emailId,jdbcType=INTEGER}
            </if>
            <if test="emailName != null">
               and email_name = #{emailName,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    <select id="queryEmailById" parameterType="com.whw.springboot.entity.Email" resultMap="BaseResultMap">
        <include refid="select" />
            <where>
                <if test="emailId != null">
                    email_id = #{emailId,jdbcType=INTEGER}
                </if>
                <if test="emailName != null">
                    and email_name = #{emailName,jdbcType=VARCHAR}
                </if>
            </where>

    </select>
    <select id="queryEmail" resultType="com.whw.springboot.entity.Email" resultMap="BaseResultMap">
        <include refid="select" />
        <where>
            <if test="emailId != null">
                email_id = #{emailId,jdbcType=INTEGER}
            </if>
            <if test="emailName != null">
                and email_name = #{emailName,jdbcType=VARCHAR}
            </if>
        </where>

    </select>
</mapper>