<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whw.springboot.mapper.ReporterMapper">
    <resultMap id="BaseResultMap" type="com.whw.springboot.entity.Reporter">
        <!--@mbg.generated-->
        <!--@Table reporter-->
        <id column="reporter_id" jdbcType="INTEGER" property="reporterId" />
        <result column="reporter_stuid" jdbcType="VARCHAR" property="reporterStuId" />
        <result column="reporter_title" jdbcType="VARCHAR" property="reporterTitle" />
        <result column="reporter_text" jdbcType="VARCHAR" property="reporterText" />
        <result column="reporter_date" jdbcType="DATE" property="reporterDate" />
        <result column="reporter_emailid" jdbcType="INTEGER" property="reporterEmailId" />
        <result column="reporter_reply" jdbcType="VARCHAR" property="reporterReply" />
        
        <association property="email" javaType="com.whw.springboot.entity.Email">
            <id column="email_id" jdbcType="INTEGER" property="emailId" />
            <result column="email_name" jdbcType="VARCHAR" property="emailName" />
        </association>

        <association property="userinfo" javaType="com.whw.springboot.entity.Userinfo">
            <id column="user_id" jdbcType="VARCHAR" property="userId" />
            <result column="dep_id" jdbcType="INTEGER" property="depId" />

            <result column="class_id" jdbcType="INTEGER" property="classId" />

            <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
            <result column="user_name" jdbcType="VARCHAR" property="userName" />
            <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
            <result column="user_idcard" jdbcType="VARCHAR" property="userIdCard" />
            <result column="user_type" jdbcType="INTEGER" property="userType" />
        </association>
    </resultMap>
    
    <sql id="Base_Column_List">

        reporter_id, reporter_stuid, reporter_title, reporter_text, reporter_date, reporter_emailid, reporter_reply


    </sql>

    <sql id="select">
    select
    *
    FROM
        reporter
        LEFT JOIN `email` on reporter.reporter_emailid = `email`.email_id
        LEFT JOIN `userinfo` on reporter.reporter_stuid = `userinfo`.user_id
    </sql>

    <insert id="insertReporter" parameterType="com.whw.springboot.entity.Reporter">
        <!--@mbg.generated-->
        insert into reporter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reporterId != null">
                reporter_id,
            </if>
            <if test="reporterStuId != null">
                reporter_stuid,
            </if>
            <if test="reporterTitle != null">
                reporter_title,
            </if>
            <if test="reporterText != null">
                reporter_text,
            </if>
            <if test="reporterDate != null">
                reporter_date,
            </if>
            <if test="reporterEmailId != null">
                reporter_emailid,
            </if>
            <if test="reporterReply != null">
                reporter_reply,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reporterId != null">
                #{reporterId,jdbcType=INTEGER},
            </if>
            <if test="reporterStuId != null">
                #{reporterStuId,jdbcType=VARCHAR},
            </if>
            <if test="reporterTitle != null">
                #{reporterTitle,jdbcType=VARCHAR},
            </if>
            <if test="reporterText != null">
                #{reporterText,jdbcType=VARCHAR},
            </if>
            <if test="reporterDate != null">
                #{reporterDate,jdbcType=DATE},
            </if>
            <if test="reporterEmailId != null">
                #{reporterEmailId,jdbcType=INTEGER},
            </if>
            <if test="reporterReply != null">
                #{reporterReply,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="queryAllReporter" parameterType="com.whw.springboot.entity.Reporter" resultMap="BaseResultMap">
        <include refid="select" />
        <where>
            <if test="reporterId != null">
                reporter_id=#{reporterId}
            </if>
            <if test="reporterStuId != null">
                and reporter_stuid=#{reporterStuId}
            </if>
            <if test="reporterTitle != null">
                and reporter_title=#{reporterTitle}
            </if>
            <if test="reporterText != null">
                and reporter_text=#{reporterText}
            </if>
            <if test="reporterDate != null">
                and reporter_date=#{reporterDate}
            </if>
            <if test="reporterEmailId != null">
                and reporter_emailid=#{reporterEmailId}
            </if>
            <if test="reporterReply != null">
                and reporter_reply=#{reporterReply}
            </if>
        </where>

    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from reporter
        where reporter.reporter_id = #{reporterId,jdbcType=INTEGER}
    </delete>

    <update id="updataReporter" keyColumn="reporter_id" keyProperty="reporterId" parameterType="com.whw.springboot.entity.Reporter" useGeneratedKeys="true" >
        <!--@mbg.generated-->
        update reporter
        <set>
            <if test="reporterStuId != null">
                reporter_stuid=#{reporterStuId,jdbcType=VARCHAR},
            </if>
            <if test="reporterTitle != null">
                reporter_title=#{reporterTitle,jdbcType=VARCHAR},
            </if>
            <if test="reporterText != null">
                reporter_text=#{reporterText,jdbcType=VARCHAR},
            </if>
            <if test="reporterDate != null">
                reporter_date=#{reporterDate,jdbcType=DATE},
            </if>
            <if test="reporterEmailId != null">
                reporter_emailid=#{reporterEmailId,jdbcType=INTEGER},
            </if>
            <if test="reporterReply != null">
                reporter_reply=#{reporterReply,jdbcType=VARCHAR},
            </if>
        </set>
        where reporter_id = #{reporterId,jdbcType=INTEGER}
    </update>
</mapper>