<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whw.springboot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.whw.springboot.entity.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />

    <result column="user_openid" jdbcType="VARCHAR" property="userOpenId" />

    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />

    <result column="user_idcard4" jdbcType="VARCHAR" property="userIdCard4" />
    <result column="user_doc" jdbcType="INTEGER" property="userDoc"/>
      <association property="userinfo" javaType="com.whw.springboot.entity.Userinfo">
          <id column="user_id" jdbcType="VARCHAR" property="userId" />
          <result column="dep_id" jdbcType="INTEGER" property="depId" />
          <result column="class_id" jdbcType="INTEGER" property="classId" />
          <result column="dormitory_id" jdbcType="INTEGER" property="dormitoryId" />
          <result column="user_name" jdbcType="VARCHAR" property="userName" />
          <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
          <result column="user_idcard" jdbcType="VARCHAR" property="userIdCard" />
          <result column="user_type" jdbcType="INTEGER" property="userType" />
      </association>



  </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_openid,  user_pwd,  user_idcard4, user_doc
    </sql>

    <sql id="select">
  	SELECT
	*
FROM
	`userinfo`
	LEFT JOIN user ON `user`.user_id = userinfo.user_id

  </sql>
    <insert id="insertUser" parameterType="com.whw.springboot.entity.UserNumber">
        <!--@mbg.generated-->
        insert into user (user_id, user_openid,user_pwd,user_idcard4,user_doc)
        values (#{user_id,jdbcType=VARCHAR},#{user_openid,jdbcType=VARCHAR},#{user_pwd,jdbcType=VARCHAR},#{user_idcard4,jdbcType=VARCHAR},#{user_doc,jdbcType=INTEGER})
    </insert>

    <select id="CheckUserById" parameterType="com.whw.springboot.entity.UserNumber" resultMap="BaseResultMap">
    <include refid="select" />
        <where>
            <if test="user_id !=null ">
                `user`.user_id=#{user_id}
            </if>
            <if test=" user_openid != null">
                and `user`.user_openid=#{user_openid}
            </if>
            <if test=" user_user_pwd != null">
                and `user`.user_pwd=#{user_user_pwd}
            </if>
        </where>
    </select>



    <update id="changePwd" parameterType="com.whw.springboot.entity.UserNumber">
        <!--@mbg.generated-->
        update user
        <set>
            user_pwd = #{user_pwd,jdbcType=VARCHAR}
        </set>
        where user_id = #{user_id,jdbcType=VARCHAR}
    </update>


</mapper>